* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 17px;
}

h1 {
    font-family: 'Indie Flower';
}

label {
    display: block;
    margin-top: 15px;
}

input[type=text], textarea, select {
    padding:10px;
    width: 500px;
    font-size: 15px;
    border: 1px solid #ccc;
    outline: 0;
    margin-top: 5px;
}

textarea{
    height: 200px;
    resize: none;
}

.termoslink:hover {
    color: #000;
    text-decoration: none;
    }

button{
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    background-color: white;
}

button:hover{
    background-color: #ddd;
}


